<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title  || "Batch Alumni Directory" %></title>

    <link rel="stylesheet" href="/css/style.css">
    
<body>
    <header class="top-header">
        <h2>Alumni Association</h2>
        <p>Stay Connected • Grow Together</p>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/alumni">Alumni Directory</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/jobs">Career Opportunities</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main class="container">